*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 22px;
}

.Body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Header{
    width: 100%;
}

.Main{ 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}