*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

.Header{
    width: 100%;
}

.App{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 50px;
    width : 100vh;
} 

.mcq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.mainForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 50px;
}

.progress-bar{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 gap : 10px;
 margin-top: 80px;
} 

.btn{
  background-color: "pink";
}

.score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}