*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

.Header{
    width: 100%;
}

.App{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 50px;
    width : 100vh;
} 

.button{
    border-radius: 50px;
    background-color: brown;
}